---
layout: layout
title: "Read List"
---

<section class="content">
  <ul class="reading-list">
    {% for book in site.data.books %}
      {% if book.read == "true" %}
      <li>
        {% if book.link %}
          <h3>{{ book.link }}</h3>
        {% else %}
          <h3><a href={{ book.href }}>{{ book.name }}</a></h3>
        {% endif %}

        <p>by <strong>{{ book.author }}</strong> </p>
        {% if book.description %}
          <p>{{ book.description }}</p>
        {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
